lead-management-workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1SQZPu6NJ5oQmQSYcGlYTsHoMNJsnSKhrF7EHVq2Cnt8",
          "mode": "list",
          "cachedResultName": "Lead Management CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SQZPu6NJ5oQmQSYcGlYTsHoMNJsnSKhrF7EHVq2Cnt8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 181364399,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SQZPu6NJ5oQmQSYcGlYTsHoMNJsnSKhrF7EHVq2Cnt8/edit#gid=181364399"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "64d8232c-d4fb-4f88-a912-21650f634cce",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "gOgQ5r83QDAD6pSo",
          "name": "Google Sheets Trigger OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Thanking you very much for contacting us !",
        "message": "=Hi {{$json[\"Name\"]}},  Thank you for your interest.  We received your requirement: {{$json[\"Requirement\"]}}  Our team will contact you shortly.  Regards, Lead Management Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "cc7c122f-9f80-4046-abee-4fc4add8346f",
      "name": "Send a message",
      "webhookId": "2c36a3d5-673f-43df-8d7e-ba59aa35447a",
      "credentials": {
        "gmailOAuth2": {
          "id": "KVHpeud26bEuYbOi",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1SQZPu6NJ5oQmQSYcGlYTsHoMNJsnSKhrF7EHVq2Cnt8",
          "mode": "list",
          "cachedResultName": "Lead Management CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SQZPu6NJ5oQmQSYcGlYTsHoMNJsnSKhrF7EHVq2Cnt8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 181364399,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SQZPu6NJ5oQmQSYcGlYTsHoMNJsnSKhrF7EHVq2Cnt8/edit#gid=181364399"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 0
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone number",
              "displayName": "Phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Requirement",
              "displayName": "Requirement",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Followup ",
              "displayName": "Followup ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "81f66690-7e0a-4a24-a375-d203892270fe",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Tcvx39oLiVeuXpem",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2e8a1baf-3e4f-4db2-838b-320335db484f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "427111bb683d10cc1f2cc842ff9877db2a4fa22cd2d5e76b56a5a6f34896a864"
  },
  "id": "REel9bfPANhVheIB",
  "tags": []
}